.card {
    margin: 1em; flex: 0 1 20%;
    display: block;
    float:left;
    
}

.notes {
    align-items: center;
}
.card-remove {
    display:inline-block;
}
#txtAddNote {
    padding-top: 2em;
}
